<form class="container" [formGroup]="binForm">
    <h4>Create code snippet</h4>
    <input type="text" placeholder="title" [formControl]="title" />
    <h5 class="red-text" [hidden]="title.valid ||title.untouched">title is required</h5>
    <textarea type="password" placeholder="code snippet here" [formControl]="code" ></textarea>
    <h5 class="red-text" [hidden]="code.valid || code.untouched">Code is required</h5>
    <button class="btn-green" [disabled]="binForm.invalid"(click)="save()">Create</button>
    
</form>
